<h1>Signal editieren</h1>
<% if @iosignal.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @iosignal.errors.full_messages.first %>
    </div>
<% end %>

<% grobengineering = Grobengineering.find(@iosignal.grobengineering_id) %>
<% subsubproject = grobengineering.subsubproject %>

<% iochannelid = @iosignal.iochannel_id.nil? ? '' : @iosignal.iochannel_id %>

<%= render 'form', :iosignal => @iosignal,
           :grobengineeringid => grobengineering.id,
           :iochannelid => iochannelid,
           :context => false  %>
<%= link_to "Zurück zur Signal-Übersicht",
            project_subproject_subsubproject_iosignals_path(subsubproject.subproject.project.id, subsubproject.subproject.id, subsubproject.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>