<h1>Teilanlage bearbeiten</h1>
<% if @subsystem.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subsystem.errors.full_messages.first %>
    </div>
<% end %>

<% project = @subsystem.project %>

<%= render 'form', :project => @subsystem.project,
           :project_subsystem => @subsystem,
           :projectid => project.id,
           :context => false  %>

<%= link_to "Zurück zu Teilanlagen", project_subsystems_path(project.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>