<h1>Neue Teilanlage erstellen</h1>
<% if @subsystem.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subsystem.errors.full_messages.first %>
    </div>
<% end %>

<% projectid = @subsystem.project_id.nil? ? params[:project_id] : @subsystem.project_id %>
<% project = Project.find(projectid) %>

<%= render 'form', :project => project,
           :project_subsystem => @subsystem,
           :projectid => projectid,
           :context => true  %>

<%= link_to "Zurück zu Teilanlagen", project_subsystems_path(project.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>