<h1>Neue IO-Gruppe erstellen</h1>
<% if @iogroup.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @iogroup.errors.full_messages.first %>
    </div>
<% end %>

<% if Iotype.any? && Switchgearcombination.any? %>
  <%= render 'form', :iogroup => @iogroup,
             :iotypeid => @iogroup.iotype_id.nil? ? Iotype.first.id : @iogroup.iotype_id,
             :switchgearcombinationid => @iogroup.switchgearcombination_id.nil? ? Switchgearcombination.first.id : @iogroup.switchgearcombination_id,
             :context => true  %>
  <%= link_to "Zurück zu IO-Gruppen-Übersicht", iogroups_path %>
<% else %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      Mindestens 1 IO-Gruppentyp und/oder Schaltgerätekombination müssen in der Datenbank existieren.
    </div>
<% end %>

<%= render 'layouts/loading', :message => "Lade..." %>