<h1>Ger채t editieren</h1>
<% if @device.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @device.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :device => @device, :context => false  %>
<%= link_to "Zur체ck zu Ger채te체bersicht", devices_path %>