<h1>Neues Gerät erstellen</h1>
<% if @device.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @device.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :device => @device, :context => true  %>
<%= link_to "Zurück zu Geräte-Übersicht", devices_path %>