<h1>Neues Gerät erstellen</h1>
<% if @device.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @device.errors.full_messages.first %>
    </div>
<% end %>



<%= render 'form', :device => @device,
           :kabel1 => 0,
           :kabel2 => 0,
           :kabel3 => 0,
           :kabel1laenge => "",
           :kabel2laenge => "",
           :kabel3laenge => "",
           :switchgear => nil, :context => true  %>
<%= link_to "Zurück zu Geräte-Übersicht", devices_path %>