<h1>Grobengineering-Eintrag editieren</h1>
<% if @grobengineering.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @grobengineering.errors.full_messages.first %>
    </div>
<% end %>

<% subsubproject = Subsubproject.find(@grobengineering.subsubproject_id) %>
<% subproject = subsubproject.subproject %>
<% project = subproject.project %>

<%= render 'form', :grobengineering => @grobengineering,
           :projectid => @grobengineering.subsubproject.subproject.project.id,
           :offertpositionid => @grobengineering.offertposition.id,
           :subsubprojectid => @grobengineering.subsubproject.id,
           :deviceid => @grobengineering.device.nil? ? '' : @grobengineering.device.id,
           :schaltschrankpreisberechnungid => @grobengineering.schaltschrank_preisberechnung.nil? ? '' : @grobengineering.schaltschrank_preisberechnung.id,
           :subsystemid => @grobengineering.subsystem.nil? ? '' : @grobengineering.subsystem.id,
           :iogroupid => @grobengineering.iogroup.nil? ? '' : @grobengineering.iogroup.id,
           :motorenabgangid => @grobengineering.switchgear_motorenabgang.nil? ? 0 : @grobengineering.switchgear_motorenabgang.id,
           :futypid => @grobengineering.fu_typ.nil? ? 0 : @grobengineering.fu_typ.id,
           :wirespez1id => @grobengineering.wire_spez1.nil? ? '' : @grobengineering.wire_spez1.id,
           :wirespez2id => @grobengineering.wire_spez2.nil? ? '' : @grobengineering.wire_spez2.id,
           :wirespez3id => @grobengineering.wire_spez3.nil? ? '' : @grobengineering.wire_spez3.id,
           :context => false  %>
<%= link_to "Zurück zu Grobengineering", project_subproject_subsubproject_grobengineerings_path(project.id, subproject.id, subsubproject.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>