<h1>Neuen Grobengineering-Eintrag erstellen</h1>
<% if @grobengineering.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @grobengineering.errors.full_messages.first %>
    </div>
<% end %>

<% if Device.any? %>
  <% subsubprojectid = @grobengineering.subsubproject_id.nil? ? params[:subsubproject_id] : @grobengineering.subsubproject_id %>
  <% projectid = Subsubproject.find(subsubprojectid).subproject.project.id %>
  <% offertpositionid = @grobengineering.offertposition_id.nil? ? Subsubproject.find(subsubprojectid).offertpositions.first.id : @grobengineering.offertposition_id %>
  <% deviceid = @grobengineering.device_id.nil? ? Device.first.id : @grobengineering.device_id %>
  <% subsystemid = @grobengineering.subsystem_id.nil? ? '' : @grobengineering.subsystem_id %>
  <% iogroupid = @grobengineering.iogroup_id.nil? ? '' : @grobengineering.iogroup_id %>
  <% motorenabgangid = @grobengineering.switchgear_motorenabgang_id.nil? ? '' : @grobengineering.switchgear_motorenabgang_id %>
  <% futypid = @grobengineering.fu_typ_id.nil? ? '' : @grobengineering.fu_typ_id %>
  <% wirespez1id = @grobengineering.wire_spez1_id.nil? ? '' : @grobengineering.wire_spez1_id %>
  <% wirespez2id = @grobengineering.wire_spez2_id.nil? ? '' : @grobengineering.wire_spez2_id %>
  <% wirespez3id = @grobengineering.wire_spez3_id.nil? ? '' : @grobengineering.wire_spez3_id %>

  <%= render 'form', :grobengineering => @grobengineering,
             :projectid => projectid,
             :subsubprojectid => subsubprojectid,
             :offertpositionid => offertpositionid,
             :deviceid => deviceid,
             :subsystemid => subsystemid,
             :iogroupid => iogroupid,
             :motorenabgangid => motorenabgangid,
             :futypid => futypid,
             :wirespez1id => wirespez1id,
             :wirespez2id => wirespez2id,
             :wirespez3id => wirespez3id,
             :context => true  %>
<% else %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      Mindestens 1 Gerät in der Datenbank existieren.
    </div>
<% end %>
<%= link_to "Zurück zu Grobengineering", grobengineerings_path %>