<h1>Lieferantentyp editieren</h1>
<% if @suppliertype.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @suppliertype.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :suppliertype => @suppliertype, :context => false  %>
<%= link_to "Zurück zu Lieferantentypübersicht", suppliertypes_path %>