<h1>Details Lieferantentyp</h1>
<br>
<% if @suppliertype.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @suppliertype.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @suppliertype.id %><br>
Name: <%= @suppliertype.name %><br>

<br><br>
<%= link_to "Zurück zu Lieferantentyp-Übersicht", suppliertypes_path %>