<h1>Version bearbeiten</h1>
<% if @subsubproject.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subsubproject.errors.full_messages.first %>
    </div>
<% end %>

<% subsubproject = Subsubproject.find(@subsubproject.id) %>
<% subproject = subsubproject.subproject %>
<% project = subproject.project %>

<%= render 'form', :subprojectid => @subsubproject.subproject.id,
           :subsubproject => @subsubproject,
           :wiresupplierid => @subsubproject.wiresupplier.id,
           :wirecaptionsupplierid => @subsubproject.wirecaptionsupplier.id,
           :context => false  %>

<%= link_to "Zurück zu Versionsübersicht", project_subproject_subsubprojects_path(project.id, subproject.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>