<h1>Neue Version erstellen</h1>
<% if @subsubproject.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subsubproject.errors.full_messages.first %>
    </div>
<% end %>


<% if Supplier.joins(:suppliertypes).includes(:suppliertypes).where(:suppliertypes => {:name => 'Kabel'}).any? &&
    Supplier.joins(:suppliertypes).includes(:suppliertypes).where(:suppliertypes => {:name => 'Kabelbeschriftung'}).any? %>

    <% subprojectid = @subsubproject.subproject_id.nil? ? params[:subproject_id] : @subsubproject.subproject_id %>
    <% subproject = Subproject.find(subprojectid) %>
  <%= render 'form', :subprojectid => subprojectid,
             :subsubproject => @subsubproject,
             :wiresupplierid => Supplier.joins(:suppliertypes).includes(:suppliertypes).where(:suppliertypes => {:name => 'Kabel'}).first.id,
             :wirecaptionsupplierid => Supplier.joins(:suppliertypes).includes(:suppliertypes).where(:suppliertypes => {:name => 'Kabelbeschriftung'}).first.id,
             :context => true  %>

<% else %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      Mindestens 1 Kabellieferant und 1 Kabelbeschriftungslieferant müssen in der Datenbank existieren.
  </div>
<% end %>

<%= link_to "Zurück zu Versionsübersicht", project_subproject_subsubprojects_path(subproject.project.id, subproject.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>