<h1>Neuer Eintrag erstellen</h1>
<% if @history.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @history.errors.full_messages.first %>
    </div>
<% end %>

<% subproject = @history.subproject_id.nil? ? Subproject.find(params[:subproject_id]) : Subproject.find(@history.subproject_id) %>
<%= render 'form', :history => @history,
           :subprojectid => subproject.id,
           :context => true  %>

<%= link_to "Zurück zu Projekt", project_subproject_path(subproject.project.id, subproject.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>