<h1>Neuen Kunden erstellen</h1>
<% if @customer.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @customer.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :customer => @customer, :context => true  %>
<%= link_to "Zurück zu Kundenübersicht", customers_path %>

<%= render 'layouts/loading', :message => "Lade..." %>