<h1>Details Kunde</h1>
<br>
<% if @customer.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @customer.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @customer.id %><br>
Name: <%= @customer.name %><br>

<br><br>
<%= link_to "Zurück zu Kundenübersicht", customers_path %>