<h1>Details Kabellieferant</h1>
<br>
<% if @wiresupplier.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @wiresupplier.errors.full_messages.first %>
    </div>
<% end %>

ID: <%= @wiresupplier.id %><br>
Name: <%= @wiresupplier.name %><br>

<br><br>
<%= link_to "Zurück zu Kabellieferantenübersicht", wiresuppliers_path %>