<h1>Projekt editieren</h1>
<% if @project.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @project.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :project => @project, :context => false  %>
<%= link_to "Zurück zu Projektübersicht", projects_path %>