<h1><%= @project.name %></h1>
<% if @project.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @project.errors.full_messages.first %>
    </div>
<% end %>

<%= @project.name %>
<br><br>
<%= link_to "Zurück zu Projektübersicht", projects_path %>