<h1>Kabel editieren</h1>
<% if @wire.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @wire.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :wire => @wire, :context => false  %>
<%= link_to "Zurück zu Kabelübersicht", wires_path %>