<h1>Lieferant editieren</h1>
<% if @supplier.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @supplier.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :supplier => @supplier, :context => false  %>
<%= link_to "Zurück zu Lieferantenübersicht", suppliers_path %>

<%= render 'layouts/loading', :message => "Lade..." %>