<h1>Projekt bearbeiten</h1>
<% if @subproject.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subproject.errors.full_messages.first %>
    </div>
<% end %>

<%= render 'form', :projectid => @subproject.project.id, :project => @subproject.project, :project_subproject => @subproject,
           :customer => @subproject.customer, :context => false  %>