<h1>Projekt bearbeiten</h1>
<% if @subproject.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subproject.errors.full_messages.first %>
    </div>
<% end %>

<% project = @subproject.project %>

<%= render 'form', :project_subproject => @subproject,
           :project => project,
           :projectid => project.id,
           :customerid => @subproject.customer.id,
           :context => false  %>


<%= link_to "Zurück zu Projekt", project_subproject_path(project.id, @subproject.id) %>
<%= render 'layouts/loading', :message => "Lade..." %>