<h1>Neues Projekt erstellen</h1>
<% if @subproject.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subproject.errors.full_messages.first %>
    </div>
<% end %>

<% if Customer.any? %>
    <% customer = @subproject.customer_id.nil? ? Customer.all.first : @subproject.customer_id %>

  <%= render 'form', :project_subproject => @subproject,
             :project => @subproject.project,
             :customer => customer,
             :projectid => @projectid,
             :context => true  %>
<% else %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Bevor ein Projekt erstellt werden kann, muss mind. ein Kunde in der Datenbank existieren.
  </div>
<% end %>