<h1>Neues Projekt erstellen</h1>
<% if @subproject.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @subproject.errors.full_messages.first %>
    </div>
<% end %>

<% projectid = @subproject.project_id.nil? ? params[:project_id] : @subproject.project_id %>
<% project = Project.find(projectid) %>

<% if Customer.any? %>
  <% customerid = @subproject.customer_id.nil? ? Customer.all.first : @subproject.customer_id %>
  <%= render 'form', :project_subproject => @subproject,
             :project => project,
             :projectid => projectid,
             :customerid => customerid,
             :context => true  %>
<% else %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Bevor ein Projekt erstellt werden kann, muss mind. ein Kunde in der Datenbank existieren.
  </div>
<% end %>

<%= link_to "Zurück zu Projekt", project_path(project.id) %>

<%= render 'layouts/loading', :message => "Lade Offertpositionen..." %>