<h1>Neue Info erstellen</h1>
<% if @info.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= @info.errors.full_messages.first %>
    </div>
<% end %>

<% subproject = @info.subproject_id.nil? ? Subproject.find(params[:subproject_id]) : Subproject.find(@info.subproject_id) %>
<%= render 'form', :info => @info,
           :subprojectid => subproject.id,
           :context => true  %>

<%= link_to "Zurück zu Projektübersicht", project_subproject_path(subproject.project.id, subproject.id) %>

<%= render 'layouts/loading', :message => "Lade..." %>